<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          xmlns:tools="http://schemas.android.com/tools"
          package="app.woovictory.forearthforus">

    <uses-permission android:name="android.permission.INTERNET"/>

    <application
            android:name=".ForEarthApplication"
            android:allowBackup="true"
            android:icon="@mipmap/ic_launcher"
            android:label="@string/app_name"
            android:roundIcon="@mipmap/ic_launcher_round"
            android:supportsRtl="true"
            android:theme="@style/AppTheme"
            android:usesCleartextTraffic="true"
            tools:ignore="GoogleAppIndexingWarning">
        <activity android:name=".view.mypage.AlarmActivity">
        </activity>
        <activity android:name=".view.mypage.ScrapListActivity">
        </activity>
        <activity android:name=".view.mypage.achieve.AchieveListActivity">
        </activity>
        <activity android:name=".view.article.detail.ArticleDetailActivity">
        </activity>
        <activity android:name=".view.mission.MissionCompleteWriteActivity">
        </activity>
        <activity android:name=".view.mission.MissionCompleteActivity">
        </activity>
        <activity android:name=".view.main.detail.EarthDetailActivity">
        </activity>
        <activity android:name=".view.mission.MissionDetailActivity"
        >
        </activity>
        <activity android:name=".view.mission.MissionSelectActivity">
        </activity>
        <activity android:name=".view.account.FieldSelectActivity">
        </activity>
        <activity android:name=".view.account.SignUpActivity">
        </activity>
        <activity android:name=".MainActivity">
        </activity>
        <activity android:name=".view.SplashActivity">
        </activity>
        <activity android:name=".view.account.LoginActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
    </application>

</manifest>