astroid==2.2.5
certifi==2019.3.9
chardet==3.0.4
coreapi==2.3.3
coreschema==0.0.4
defusedxml==0.6.0
Django==2.2.2
django-allauth==0.39.1
django-braces==1.13.0
django-filter==2.1.0
django-oauth-toolkit==1.2.0
django-rest-auth==0.9.5
django-rest-framework-social-oauth2==1.1.0
django-rest-swagger==2.2.0
djangorestframework==3.11.2
djangorestframework-jwt==1.11.0
idna==2.8
isort==4.3.17
itypes==1.1.0
Jinja2==2.10.1
lazy-object-proxy==1.3.1
Markdown==3.1
MarkupSafe==1.1.1
mccabe==0.6.1
oauthlib==3.0.1
openapi-codec==1.3.2
Pillow==6.0.0
Pygments==2.3.1
PyJWT==1.7.1
pylint==2.3.1
pylint-django==2.0.9
pylint-plugin-utils==0.5
python3-openid==3.1.0
pytz==2019.1
requests==2.21.0
requests-oauthlib==1.2.0
simplejson==3.16.0
six==1.12.0
social-auth-app-django==3.1.0
social-auth-core==3.1.0
sqlparse==0.3.0
typed-ast==1.3.5
uritemplate==3.0.0
urllib3==1.24.2
wrapt==1.11.1
